# env
.env

# cargo
target
Cargo.lock

# openapi generator
.openapi-generator
/core/*/.openapi-generator-ignore
/tools/openapi-generator-cli-*.jar
/generator/target/
/generator/dependency-reduced-pom.xml

# python
venv/
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
