[package]
name = "line-bot-sdk-rust"
version = "0.1.2"
authors = ["nanato12 <admin@nanato12.info>"]
edition = "2018"
description = "LINE Messaging API SDK for Rust"
readme = "README.md"
repository = "https://github.com/nanato12/line-bot-sdk-rust/"
license = "Apache-2.0"
license-file = "LICENSE"
keywords = ["line", "linebot", "line-bot-sdk", "line-messaging-api"]
categories = ["api-bindings"]

[features]
default = []
rocket_support = ["rocket"]
actix_support = ["actix-web"]

[dependencies]
actix-web = { version = "3", optional = true, default-features = false }
base64 = "0.13.0"
bytes = "1.1.0"
chrono = "0.4"
hmac = "0.12.1"
reqwest = { version = "0.11.0", features = ["blocking", "json"] }
rocket = { version = "0.4", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0.97"
serde_json = "1.0"
sha2 = "0.10.2"

[dev-dependencies]
dotenv = "0.15.0"
actix-web = "3.3"
actix-rt = "1.0"
