/*
* Copyright (C) 2016 LINE Corp.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/*
 * LINE Messaging API
 *
 * This document describes LINE Messaging API.
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
use std::pin::Pin;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct ManageAudienceApiClient<C: hyper::client::connect::Connect>
    where C: Clone + std::marker::Send + Sync + 'static {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::connect::Connect> ManageAudienceApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> ManageAudienceApiClient<C> {
        ManageAudienceApiClient {
            configuration,
        }
    }
}

pub trait ManageAudienceApi {
    fn activate_audience_group(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
    fn add_audience_to_audience_group(&self, add_audience_to_audience_group_request: crate::models::AddAudienceToAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
    fn create_audience_group(&self, create_audience_group_request: crate::models::CreateAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateAudienceGroupResponse, Error>>>>;
    fn create_click_based_audience_group(&self, create_click_based_audience_group_request: crate::models::CreateClickBasedAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateClickBasedAudienceGroupResponse, Error>>>>;
    fn create_imp_based_audience_group(&self, create_imp_based_audience_group_request: crate::models::CreateImpBasedAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateImpBasedAudienceGroupResponse, Error>>>>;
    fn delete_audience_group(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
    fn get_audience_data(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceDataResponse, Error>>>>;
    fn get_audience_group_authority_level(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceGroupAuthorityLevelResponse, Error>>>>;
    fn get_audience_groups(&self, page: i64, description: Option<&str>, status: Option<crate::models::AudienceGroupStatus>, size: Option<i64>, includes_external_public_groups: Option<bool>, create_route: Option<crate::models::AudienceGroupCreateRoute>) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceGroupsResponse, Error>>>>;
    fn update_audience_group_authority_level(&self, update_audience_group_authority_level_request: crate::models::UpdateAudienceGroupAuthorityLevelRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
    fn update_audience_group_description(&self, audience_group_id: i64, update_audience_group_description_request: crate::models::UpdateAudienceGroupDescriptionRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
}

impl<C: hyper::client::connect::Connect>ManageAudienceApi for ManageAudienceApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    #[allow(unused_mut)]
    fn activate_audience_group(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::PUT, "/v2/bot/audienceGroup/{audienceGroupId}/activate".to_string())
        ;
        req = req.with_path_param("audienceGroupId".to_string(), audience_group_id.to_string());
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn add_audience_to_audience_group(&self, add_audience_to_audience_group_request: crate::models::AddAudienceToAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::PUT, "/v2/bot/audienceGroup/upload".to_string())
        ;
        req = req.with_body_param(add_audience_to_audience_group_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn create_audience_group(&self, create_audience_group_request: crate::models::CreateAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateAudienceGroupResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::POST, "/v2/bot/audienceGroup/upload".to_string())
        ;
        req = req.with_body_param(create_audience_group_request);

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn create_click_based_audience_group(&self, create_click_based_audience_group_request: crate::models::CreateClickBasedAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateClickBasedAudienceGroupResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::POST, "/v2/bot/audienceGroup/click".to_string())
        ;
        req = req.with_body_param(create_click_based_audience_group_request);

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn create_imp_based_audience_group(&self, create_imp_based_audience_group_request: crate::models::CreateImpBasedAudienceGroupRequest) -> Pin<Box<dyn Future<Output = Result<crate::models::CreateImpBasedAudienceGroupResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::POST, "/v2/bot/audienceGroup/imp".to_string())
        ;
        req = req.with_body_param(create_imp_based_audience_group_request);

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn delete_audience_group(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::DELETE, "/v2/bot/audienceGroup/{audienceGroupId}".to_string())
        ;
        req = req.with_path_param("audienceGroupId".to_string(), audience_group_id.to_string());
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_audience_data(&self, audience_group_id: i64) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceDataResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/v2/bot/audienceGroup/{audienceGroupId}".to_string())
        ;
        req = req.with_path_param("audienceGroupId".to_string(), audience_group_id.to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_audience_group_authority_level(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceGroupAuthorityLevelResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/v2/bot/audienceGroup/authorityLevel".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_audience_groups(&self, page: i64, description: Option<&str>, status: Option<crate::models::AudienceGroupStatus>, size: Option<i64>, includes_external_public_groups: Option<bool>, create_route: Option<crate::models::AudienceGroupCreateRoute>) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAudienceGroupsResponse, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/v2/bot/audienceGroup/list".to_string())
        ;
        req = req.with_query_param("page".to_string(), page.to_string());
        if let Some(ref s) = description {
            let query_value = s.to_string();
            req = req.with_query_param("description".to_string(), query_value);
        }
        if let Some(ref s) = status {
            let query_value = s.to_string();
            req = req.with_query_param("status".to_string(), query_value);
        }
        if let Some(ref s) = size {
            let query_value = s.to_string();
            req = req.with_query_param("size".to_string(), query_value);
        }
        if let Some(ref s) = includes_external_public_groups {
            let query_value = s.to_string();
            req = req.with_query_param("includesExternalPublicGroups".to_string(), query_value);
        }
        if let Some(ref s) = create_route {
            let query_value = s.to_string();
            req = req.with_query_param("createRoute".to_string(), query_value);
        }

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn update_audience_group_authority_level(&self, update_audience_group_authority_level_request: crate::models::UpdateAudienceGroupAuthorityLevelRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::PUT, "/v2/bot/audienceGroup/authorityLevel".to_string())
        ;
        req = req.with_body_param(update_audience_group_authority_level_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn update_audience_group_description(&self, audience_group_id: i64, update_audience_group_description_request: crate::models::UpdateAudienceGroupDescriptionRequest) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::PUT, "/v2/bot/audienceGroup/{audienceGroupId}/updateDescription".to_string())
        ;
        req = req.with_path_param("audienceGroupId".to_string(), audience_group_id.to_string());
        req = req.with_body_param(update_audience_group_description_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

}
