/*
* Copyright 2023 nanato12
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/*
 * LIFF server API
 *
 * LIFF Server API.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;
use std::pin::Pin;
use std::rc::Rc;

use futures::Future;
use hyper;

use super::request as __internal_request;
use super::{configuration, Error};

pub struct LiffApiClient<C: hyper::client::connect::Connect>
where
    C: Clone + std::marker::Send + Sync + 'static,
{
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::connect::Connect> LiffApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> LiffApiClient<C> {
        LiffApiClient { configuration }
    }
}

pub trait LiffApi {
    fn add_liff_app(
        &self,
        add_liff_app_request: crate::models::AddLiffAppRequest,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::AddLiffAppResponse, Error>>>>;
    fn delete_liff_app(&self, liff_id: &str) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
    fn get_all_liff_apps(
        &self,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAllLiffAppsResponse, Error>>>>;
    fn update_liff_app(
        &self,
        liff_id: &str,
        update_liff_app_request: crate::models::UpdateLiffAppRequest,
    ) -> Pin<Box<dyn Future<Output = Result<(), Error>>>>;
}

impl<C: hyper::client::connect::Connect> LiffApi for LiffApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    #[allow(unused_mut)]
    fn add_liff_app(
        &self,
        add_liff_app_request: crate::models::AddLiffAppRequest,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::AddLiffAppResponse, Error>>>> {
        let mut req =
            __internal_request::Request::new(hyper::Method::POST, "/liff/v1/apps".to_string());
        req = req.with_body_param(add_liff_app_request);

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn delete_liff_app(&self, liff_id: &str) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(
            hyper::Method::DELETE,
            "/liff/v1/apps/{liffId}".to_string(),
        );
        req = req.with_path_param("liffId".to_string(), liff_id.to_string());
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_all_liff_apps(
        &self,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::GetAllLiffAppsResponse, Error>>>> {
        let mut req =
            __internal_request::Request::new(hyper::Method::GET, "/liff/v1/apps".to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn update_liff_app(
        &self,
        liff_id: &str,
        update_liff_app_request: crate::models::UpdateLiffAppRequest,
    ) -> Pin<Box<dyn Future<Output = Result<(), Error>>>> {
        let mut req = __internal_request::Request::new(
            hyper::Method::PUT,
            "/liff/v1/apps/{liffId}".to_string(),
        );
        req = req.with_path_param("liffId".to_string(), liff_id.to_string());
        req = req.with_body_param(update_liff_app_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }
}
