/*
* Copyright (C) 2016 LINE Corp.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/*
 * Mission Stickers API
 *
 * This document describes LINE Mission Stickers API.
 *
 * The version of the OpenAPI document: 0.0.1
 *
 * Generated by: https://openapi-generator.tech
 */

use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;
use std::sync::Arc;

use hyper;
use hyper_util::client::legacy::connect::Connect;

use super::request as __internal_request;
use super::{configuration, Error};
use crate::line_shop::models;

#[derive(Clone)]
pub struct ShopApiClient<C: Connect>
where
    C: Clone + std::marker::Send + Sync + 'static,
{
    configuration: Arc<configuration::Configuration<C>>,
}

impl<C: Connect> ShopApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    pub fn new(configuration: Arc<configuration::Configuration<C>>) -> ShopApiClient<C> {
        ShopApiClient { configuration }
    }
}

pub trait ShopApi: Send + Sync {
    fn mission_sticker_v3(
        &self,
        mission_sticker_request: models::MissionStickerRequest,
    ) -> impl std::future::Future<Output = Result<(), Error>> + Send;
}

impl<C: Connect> ShopApi for ShopApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    #[allow(unused_mut)]
    async fn mission_sticker_v3(
        &self,
        mission_sticker_request: models::MissionStickerRequest,
    ) -> Result<(), Error> {
        let mut req =
            __internal_request::Request::new(hyper::Method::POST, "/shop/v3/mission".to_string());
        req = req.with_body_param(mission_sticker_request);
        req = req.returns_nothing();

        req.execute(self.configuration.borrow()).await
    }
}
